<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Релиз R109 + 17.9</title>
</head>
<body>
    <div class="menu_wrapper left_menu_wrapper">
        <ol class="menu left_menu">
            <li class="menu_item"><input type="button" class="btn" id="add_release_btn" value="Добавить релиз"></li>
            <li class="menu_item" data-release_id="3"><a href="/?id=3">R110 + 17.10</a></li>
            <li class="menu_item" data-release_id="2"><a href="/?id=2">R109 + 17.9</a></li>
            <li class="menu_item" data-release_id="1"><a href="/?id=1">R108 + 17.8</a></li>
        </ol>
    </div>

    <div class="release_wrapper">
        <div class="menu_wrapper top_menu_wrapper">
            <ol class="menu">
                <li class="menu_item" title="Страница проектов"><a href="main_page.html">ВТБ Онлайн</a></li>
                <li class="menu_item" title="Страница релизов текущего проекта"><a href="release_page.html">Релизы</a></li>
                <li class="menu_item" title="Страница истории текущего проекта"><a href="history_page.html">История</a></li>
                <li class="menu_item"> <a href="main_page.html"><img class="logo" src="img/logo_vulnTrack.png" alt="logo"></a></li>
                <li class="menu_item" title="Все когда либо найденные уязвимости"><a href="#">БД уязвимостей</a></li>
                <li class="menu_item" title="Руководства пользователя"><a href="#">FAQ</a></li>
                <li class="menu_item" title="Отчеты, графики, дашборды"><a href="#">Отчеты</a></li>
            </ol>
        </div>
        <div class="table_wrapper">
            <header class="release_header" data-number="R113+17.13" data-start="2023-04-26" data-end="2023-05-26" data-rds="412421" data-scope="4214214">
                    <h1>Релиз R110 + 17.10</h1>
                    <p id="start_Date">Дата начала 13.03.2023</p>
                    <p id="end_Date">Дата окончания 20.03.2023</p>
                    <span id="error_span">Здесь будут предупреждения если не заполнены обязательные поля</span>
                
                <div class="btns_wrapper" id="report_btns">
                    <a href="add_vuln.html" class="btn" id="add_vuln_btn">Добавить уязвимость</a>
                    <div class="dropdown">
                        <input type="button" class="btn dropbtn" id="primaryReport_btn" value="Создать первичный отчет">
                        <div class="myDropdown dropdown-content">
                            <a href="#">CSV</a>
                            <a href="#">HTML</a>
                        </div>
                    </div>
                    <div class="dropdown ul_div">
                        <input type="button" class="btn dropbtn" id="shortReport_btn" value="Создать краткий отчет">
                        <div class="myDropdown dropdown-content ul_div">
                            <div class="dropdown ul_div">
                                <a class="dropbtn">CSV</a>
                                <div class="myDropdown dropdown-content dropdown-content-right">
                                    <a href="#">Новые</a>
                                    <a href="#">Актуальные</a>
                                    <a href="#">Устранены</a>
                                </div>
                            </div>
                            <a href="#">HTML</a>
                        </div>
                    </div>

                    <input type="button" onclick="report('/api/release/full?id=1')" class="btn" id="fullReport_btn" value="Создать полный отчет" />
                    <input type="button" class="btn" id="edit_release_btn" value="Редактировать релиз">
                </div>
            </header>
            <input type="hidden" id="release" value="{{cur_release.id}}"/>
            <div class="table_name">
                <h3>Новые уязвимости</h3>
            </div>
            <table class="table new_vuln">
                <thead>
                    <tr class="table_header table_row">
                        <th class="table_item">ID Уязвимости</th>
                        <th class="table_item">Наименование уязвимости</th>
                        <th class="table_item">Подробное описание</th>
                        <th class="table_item">Критичность CVSS</th>
                        <th class="table_item">Где выявлено</th>
                        <th class="table_item">Когда выявлено</th>
                        <th class="table_item table_item_status">Статус уязвимости</th>
                        <th class="table_item table_item_del">Удалить</th>
                    </tr>
                </thead>
                <tbody>
<!--                добавление класса escalate у эскалированной уязвимости -->
                    <tr class="table_row escalate">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-2023-2</td>
                        <td class="table_item">SQLi</td>
                        <td class="table_item">Возможность сделать SQLi</td>
                        <td class="table_item table_item_cvss high_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">15.03.2023</td>
                        <td class="table_item table_item_status">Новая (Эскалирована)</td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
<!--                        для примера подсветка статусов -->
                    <tr class="table_row status_solved">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-22023-2</td>
                        <td class="table_item">SQLi</td>
                        <td class="table_item">Возможность сделать SQLi</td>
                        <td class="table_item table_item_cvss high_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">15.03.2023</td>
                        <td class="table_item table_item_status">Устранена</td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
<!--                        для примера подсветка статусов -->
                    <tr class="table_row status_deleted">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-20123-2</td>
                        <td class="table_item">SQLi</td>
                        <td class="table_item">Возможность сделать SQLi</td>
                        <td class="table_item table_item_cvss high_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">15.03.2023</td>
                        <td class="table_item table_item_status">Удалена</td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
<!--                        для примера подсветка статусов -->
                    <tr class="table_row status_actual">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-20123-2</td>
                        <td class="table_item">SQLi</td>
                        <td class="table_item">Возможность сделать SQLi</td>
                        <td class="table_item table_item_cvss high_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">15.03.2023</td>
                        <td class="table_item table_item_status">Актуальна</td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
<!--                        для примера подсветка статусов -->
                    <tr class="table_row status_fp">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-20123-2</td>
                        <td class="table_item">SQLi</td>
                        <td class="table_item">Возможность сделать SQLi</td>
                        <td class="table_item table_item_cvss high_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">15.03.2023</td>
                        <td class="table_item table_item_status">False Positive</td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
                </tbody>
            </table>
            <div class="table_name">
                <h3>Перепроверка уязвимостей</h3>
            </div>
            <table class="table old_vuln">
                <thead>
                    <tr class="table_header table_row">
                        <th class="table_item">ID Уязвимости</th>
                        <th class="table_item">Наименование уязвимости</th>
                        <th class="table_item">Подробное описание</th>
                        <th class="table_item">Критичность CVSS</th>
                        <th class="table_item">Где выявлено</th>
                        <th class="table_item">Когда выявлено</th>
                        <th class="table_item table_item_status">Статус уязвимости</th>
                        <th class="table_item table_item_del">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_row">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-2023-1</td>
                        <td class="table_item">XSS</td>
                        <td class="table_item">Возможность сделать XSS</td>
                        <td class="table_item table_item_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">04.03.2023</td>
                        <td class="table_item table_item_status">
                            <select>
                                <option value="vuln_actual" selected>Актуальна</option>
                                <option value="vuln_fixed">Устранена</option>
                            </select>
                        </td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
                    <tr class="table_row">
                        <td class="table_item table_item_link" onclick="info(this)">VTBO-2023-1</td>
                        <td class="table_item">XSS</td>
                        <td class="table_item">Возможность сделать XSS</td>
                        <td class="table_item table_item_cvss">8.0 Высокая</td>
                        <td class="table_item">Web</td>
                        <td class="table_item">04.03.2023</td>
                        <td class="table_item table_item_status">
                            <select>
                                <option value="vuln_actual" selected>Актуальна</option>
                                <option value="vuln_fixed">Устранена</option>
                            </select>
                        </td>
                        <td class="table_item table_item_del del_icon" onclick="deleteVuln(this.parentElement)"></td>
                    </tr>
                </tbody>
            </table>
            <footer class="release_footer">
                <input type="button" class="btn" id="confirmFix_btn" value="Зафиксировать устранение">
                <div class="approve_container">
                    <input type="checkbox" id="approve_check">
                    <label for="approve_check">Подтверждение готовности релиза к отчету</label>
                </div>
                <input type="button" class="btn" id="skip_release_btn" onclick="console.log(this)" value="Пропустить релиз">
            </footer>
        </div>
    </div>
    <div id="add_release_modal">
        <div id="add_release_modal_content">
            <form action="#" method="post" id="release_add_form" class="form_body">
                <h3>Новый релиз</h3>
<!--                {% csrf_token %}-->
                <input type="hidden" name="project_id" value="{{ id }}" required>
                <label for="release_num_input">Номер релиза
                    <input type="text" name="release_number" id="release_num_input" placeholder="R109 + 17.9" required>
                </label>
                <label for="release_start_date_input">Дата начала
                    <input type="date" id="release_start_date_input" name="release-start-date" required
                    value="2023-03-21"
                    min="2020-01-01" max="2099-12-31">
                </label>
                <label for="release_end_date_input">Дата окончания
                    <input type="date" id="release_end_date_input" name="release-end-date" required
                    value="2023-03-21"
                    min="2020-01-01" max="2099-12-31">
                </label>
                <label for="release_rds_input">Номер задачи в RDS
                    <input type="text" name="release-rds" id="release_rds_input" required>
                </label>
                <label for="release_prefix_input">Префикс
                    <input type="text" name="release-vuln-prefix" id="release_prefix_input" value="VTBO-2023-" required>
                </label>
                <label for="release_scope_input">Область и обьект тестирования
                    <textarea name="release-scope" id="release_scope_input" cols="30" rows="2" required onkeyup="textAreaAdjust(this)"></textarea>
                </label>
                <input type="submit" class="btn" value="Добавить релиз">
            </form>
        </div>
    </div>
    <div id="edit_release_modal">
        <div id="edit_release_modal_content">
            <form action="#" method="post" id="release_edit_form" class="form_body">
                <h3>Новый релиз</h3>
<!--                {% csrf_token %}-->
                <input type="hidden" name="csrf" value="123">
                <input type="hidden" name="release_id" required>
                <label for="edit_release_num_input">Номер релиза
                    <input type="text" name="release_number" id="edit_release_num_input" placeholder="R109 + 17.9" required>
                </label>
                <label for="edit_release_start_date_input">Дата начала
                    <input type="date" id="edit_release_start_date_input" required name="release-start-date"
                           value="2023-03-21"
                           min="2020-01-01" max="2099-12-31">
                </label>
                <label for="edit_release_end_date_input">Дата окончания
                    <input type="date" id="edit_release_end_date_input" required name="release-end-date"
                           value="2023-03-21"
                           min="2020-01-01" max="2099-12-31">
                </label>
                <label for="edit_release_rds_input">Номер задачи в RDS
                    <input type="text" name="release-rds" id="edit_release_rds_input" required>
                </label>
                <label for="edit_release_scope_input">Область и обьект тестирования
                    <textarea name="release-scope" id="edit_release_scope_input" cols="30" rows="2" required onkeyup="textAreaAdjust(this)"></textarea>
                </label>
                <input type="submit" class="btn" value="Редактировать релиз">
            </form>
        </div>
    </div>
    <script src="scripts/confirm_modal_script.js"></script>
    <script src="scripts/release_page_script.js"></script>
</body>
</html>