html,
body {
    margin: 5px 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.wrapper {
    width: 384px;
    margin: 0 auto;
    padding: 8px 8px 10px;
    border-radius: 10px;
    border: 1px solid #D8E3FE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    opacity: 1;
}

.animation {
    position: relative;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.animation__eye {
    position: absolute;
    display: none;
    width: 6px;
    height: 5px;
    background-image: url("../img/eye.png");
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
}

.animation__eye--one-one {
    left: 58px;
    top: 107px;
}

.animation__eye--one-two {
    left: 104px;
    top: 108px;
}

.animation__eye--two-one {
    left: 250px;
    top: 164px;
}

.animation__eye--two-two {
    left: 296px;
    top: 164px;
}

.animation__video {
    display: none;
    opacity: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: none;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.form__input {
    width: 246px;
    padding-left: 22px;
    padding-top: 5px;
    padding-right: 22px;
    padding-bottom: 5px;
    font-size: 24px;
    letter-spacing: 1.4px;
    border-radius: 5px;
    border-color: #3A79FF;
    border-width: 2px;
    border-style: solid;
    outline: none;
}

.form__input:focus {
    border-color: #bbcae9;
}

.form__button {
    width: 50%;
    align-self: center;
    text-align: center;
    background: #D2E1FF;
    color: #3A79FF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.form__button:hover {
    background-color: #bbcae9;
}

.form__button:active {
    padding: 9px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.about {
    padding-top: 20px;
    opacity: 0;
    color: #bbcae9;
}
